@media only screen and (min-width: 320px) and (max-width: 426px) {
  .banner-container {
    flex-direction: column;
    text-align: center;
  }

  .bn-img {
    width: 100%;
  }
  .banner-left,
  .banner-right {
    width: 100%;
  }
  .banner-right {
    margin-top: 20px;
  }
  .menu-container {
    display: none;
  }
  .image-container {
    flex-direction: column;
  }
  .service-container {
    flex-direction: column;
  }
  .service1 {
    flex-direction: column;
  }
  .service2 {
    flex-direction: column;
  }
  .hire-left-img {
    display: none;
  }
  .hire-us-container {
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .footer-1 {
    margin: 30px;
  }
  .footer-3 {
    margin: 30px;
  }
}

@media only screen and (min-width: 427px) and (max-width: 768px) {
  .banner-container {
    flex-direction: column;
    text-align: center;
  }
  .banner-left,
  .banner-right {
    width: 100%;
  }
  .banner-right {
    margin-top: 20px;
  }
  .menu-container {
    display: none;
  }
  .image-container {
    flex-direction: column;
  }
  .service-container {
    flex-direction: column;
  }
  .service1 {
    flex-direction: column;
  }
  .service2 {
    flex-direction: column;
  }
  .hire-us-container {
    flex-direction: column;
  }
  .footer {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
  }
  .footer-1 {
    margin: 30px;
  }
  .footer-3 {
    margin: 30px;
  }
  .hire-left-img {
    display: none;
  }
}
